* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --primary-color:black;
    --secondary-color:white;
    --tertiary-color:gray;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
}
img {
    max-width: 100%;
}
#app {
    padding: 1.25rem;
    margin: 0 auto;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 0;
    color: var(--secondary-color);
    padding: 1.25rem;
}
header ul {
    list-style-type: none;
    display: none;
}
header ul li {
    display: inline-block;
    margin: 0 15px;
}
.banner {
    width: 100%;
    height: 600px;
    background-image: url(./images/ny.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    color: var(--secondary-color);
    padding-bottom: 30px;
}
.banner h2, .banner p {
    display: none;
}
#about-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    text-align:center;
    padding: 100px 0;
    max-width: 900px;
    margin: 0 auto;
}
#about-section p {
    text-align: justify;
}
.about-img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 20px 0;
}
#tour-section {
    background-color: var(--primary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    color: white;
    padding: 100px 0;
}
#tour-header p {
    padding: 15px 0;
    font-style: italic;
}
#dates {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 90%;
    max-width: 810px;
    margin: 0 auto;
}
#dates p {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid lightgray;
    color: var(--tertiary-color)
}
.places-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}
.places {
    max-width: 250px;
    gap: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: left;
    /* padding-bottom: 10px; */
}
.places h4, .places p, .button {
    margin: 15px;
}
.button {
    width: max-content;
    padding: 10px;
    background-color: var(--primary-color);
    color:var(--secondary-color);
    border: 2px solid white;
}
#contact-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    gap:1rem;
    padding-bottom: 100px;
    margin-top: 30px;
    width: 100%;
}
#contact-section p {
    padding: 15px 0;
}
#contact-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 1rem;
}
#contact-details ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

}
.send-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.fa {
    padding-right: 10px;
}
form input {
    width: 100%;
    border-width: 100%;
    padding: 5px 10px
}
#form-details {
    padding-bottom: 10px;
    width: 100%;
}
.banner-last{
    background-image: url(images/map.jpg);
}
#icon-section {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color:var(--tertiary-color);   
}
@media (min-width:900px) {
    #img-holder, #places-holder {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    #app {
        padding: 0;
    }
    header ul, .banner h2, .banner p {
        display: block;
    }
}
@media (min-width:700px) {
    #form-details {
        display: flex;
        flex-direction: row;
        gap: 0.7rem;
    }
    #contact-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem; 
    }
}