* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
    font-family: "Josefin Slab";
}
img {
    max-width: 100%;
}
#app {
    padding: 1.25rem;
    margin: 0 auto;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header ul {
    list-style-type: none;
    display: none; /*hide ul by default */
}
header ul li {
    display: inline-block;
    margin: 0 10px;
}
.food-list {
    margin: 15px 0;
    text-align: center;
}
/* .food-list img, .food-list h1, .food-list p {
    margin-bottom: 10px;
} */
.food-list > * {
    margin-bottom: 10px;
}
@media (min-width:800px) {
    #food-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    .food-list {
        width: calc(100% / 2);
        padding: 10px;
    }
}
@media (min-width:1000px) {
    header .fas, header #mail {
        display: none;
    }
    header ul {
        display: block;
    }
    #food-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    .food-list {
        width: calc(100% / 4);
        padding: 10px;
    }
}
@media (min-width:1400px) {
    #app {
        max-width: 1400px;
    }
}

#about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding: 50px 0;
}
#footer-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0;
}
.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 0;
    gap: 10px;
}
#blog-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 10px;
}
#blog-list img {
    width: 20%;
    height: 20%;
}
#blog-text {
    padding: 10px;
}
.footer-list ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.2rem;
}
.footer-list ul li {
    background-color: #616161;
    padding: 5px 10px;
    color: white;
}
@media (min-width:1000px) {
    #footer-section {
        flex-direction: row;
    }
}